<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ignition Report</ion-title>
  </ion-navbar>

  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">Select Vehicle</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
      [canSearch]="true" (onChange)="getIgnitiondevice(datetimeStart, datetimeEnd, selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>

      <ion-label>
        <span style="font-size: 13px">From Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD-MM-YYYY hh:mm a" [(ngModel)]="datetimeStart" (ionChange)="change(datetimeStart)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">To Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD-MM-YYYY hh:mm a" [(ngModel)]="datetimeEnd" (ionChange)="change1(datetimeEnd)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
      </ion-label>
    </ion-col>


    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getIgnitiondeviceReport(datetimeStart,datetimeEnd);"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content>

  <ion-list>
    <ion-card *ngFor="let ignitationdata of igiReport">

      <ion-item style="border-bottom: 2px solid #dedede;">
        <ion-avatar item-start>
          <img src="assets/imgs/car_red_icon.png">
        </ion-avatar>
        <ion-row>
          <ion-col col-8>
            <p style="color:gray;font-size:13px;">{{ignitationdata.vehicleName}}</p>
          </ion-col>

          <ion-col col-4>
            <p style="text-align:center;" *ngIf="ignitationdata.switch=='OFF'">
              <span style="font-size:12px;">{{ignitationdata.switch}}&nbsp;</span>
              <span>
                <ion-icon ios="ios-switch" md="md-switch" style="color:#ee7272"></ion-icon>&nbsp;</span>
            </p>
            <p style="text-align:center;" *ngIf="ignitationdata.switch=='ON'">
              <span style="font-size:12px;">{{ignitationdata.switch}}&nbsp;</span>
              <span>
                <ion-icon ios="ios-switch" md="md-switch" style="color:#5edb82"></ion-icon>&nbsp;</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row style="padding-top:13px;">
          <p>
            <ion-icon ios="ios-time" md="md-time" style="font-size:11px;"></ion-icon>&nbsp;
            <span style="font-size:11px;">{{ignitationdata.timestamp | date: 'medium'}}</span>
          </p>

        </ion-row>

        <ion-row>
          <p>
            <ion-icon ios="ios-pin" md="md-pin" style="color:#e14444;font-size:13px;"></ion-icon>&nbsp;
            <span *ngIf="!ignitationdata.address">N/A</span>
            <span *ngIf="ignitationdata.address" style="color:gray;font-size:11px;font-weight: 400;text-align:justify;">{{ignitationdata.address}}</span>
          </p>
        </ion-row>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>