<ion-header>

  <ion-navbar>
    <ion-title>Upload Document</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Select Doc</ion-label>
    <ion-select [(ngModel)]="docType" (ionChange)="onSelectChange($event)">
      <ion-option value="rc">RC</ion-option>
      <ion-option value="poc">POC</ion-option>
      <ion-option value="insc">Insurance</ion-option>
    </ion-select>
  </ion-item>


  <ion-row padding-left padding-right *ngIf="docType">
    <ion-col (click)="presentActionSheet()">
      <p style="font-size: 1.4rem;margin: 0% 0% 0% 0%;">Select the document form gallery</p>
      <p style="margin: 0%;color: #6f6b6b;">png, jpg or jpeg </p>
      <p>Image <span>{{lastImage}}</span></p>
    </ion-col>
  </ion-row>

  <button ion-button icon-start round style="margin: 5% 0% 0% 27%;height: 4.2rem;background: #FF9800;"
    (click)="uploadImage()" [disabled]="lastImage === null">
    <ion-icon name="camera"></ion-icon>
    Upload
  </button>
</ion-content>