<ion-header>
    <ion-navbar>
        <ion-title>Add Vehicle</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <form [formGroup]="addvehicleForm">
        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Device ID(IMEI)*</ion-label>
            <ion-input formControlName="device_id" type="text" style="margin-left: -2px;"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!addvehicleForm.controls.device_id.valid && (addvehicleForm.controls.device_id.dirty || submitAttempt)">
            <p>device id required!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Registration Num.*</ion-label>
            <ion-input formControlName="device_name" type="text" style="margin-left: -2px;"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!addvehicleForm.controls.device_name.valid && (addvehicleForm.controls.device_name.dirty || submitAttempt)">
            <p>device name required!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">SIM Number*</ion-label>
            <ion-input formControlName="sim_number" type="number" maxlength="13" minlength="10" style="margin-left: -2px;"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!addvehicleForm.controls.sim_number.valid && (addvehicleForm.controls.sim_number.dirty || submitAttempt)">
            <p>sim number required & should be 10 or 13 digits!</p>
        </ion-item>

        <ion-item>
            <ion-label>Driver Name</ion-label>
            <ion-select formControlName="driver" style="min-width:50%;">
                <ion-option *ngFor="let dr of driverList" [value]="dr.name" style="margin-left: -2px;">{{dr.name}}</ion-option>
            </ion-select>
            <!-- <ion-label fixed style="min-width: 50% !important;">Driver Name*</ion-label>
            <ion-input formControlName="driver" type="text"></ion-input> -->
        </ion-item>
        <!-- <ion-item class="logitem1" *ngIf="!addvehicleForm.controls.driver.valid && (addvehicleForm.controls.driver.dirty || submitAttempt)">
            <p>driver name required!</p>
        </ion-item> -->

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Driver Contact Num.</ion-label>
            <ion-input formControlName="contact_num" type="number" maxlength="10" minlength="10" style="margin-left: -2px;"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!addvehicleForm.controls.contact_num.valid && (addvehicleForm.controls.contact_num.dirty || submitAttempt)">
            <p>contact number should be 10 digits!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Expire On*</ion-label>
            <ion-input type="date" formControlName="ExipreDate" style="margin-left: -2px;" min="{{minDate}}"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!addvehicleForm.controls.ExipreDate.valid && (addvehicleForm.controls.ExipreDate.dirty || submitAttempt)">
            <p>date of expiry required!</p>
        </ion-item>

        <ion-item>
            <ion-label>Device Model*</ion-label>
            <ion-select formControlName="device_type" style="min-width:50%;">
                <ion-option *ngFor="let name of deviceModel" [value]="name.device_type" (ionSelect)="deviceModelata(name)">{{name.device_type}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!addvehicleForm.controls.device_type.valid && (addvehicleForm.controls.device_type.dirty || submitAttempt)">
            <p>device model required!</p>
        </ion-item>


        <ion-item>
            <ion-label>Group</ion-label>
            <ion-select formControlName="name" style="min-width:50%;">
                <ion-option *ngFor="let group of allGroup" [value]="group.name" (ionSelect)="GroupStatusdata(group)">{{group.name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Select User</ion-label>
            <ion-select formControlName="first_name" style="min-width:50%;">
                <ion-option *ngFor="let user of selectUser" [value]="user.first_name" (ionSelect)="userselectData(user)">{{user.first_name}}</ion-option>
            </ion-select>
        </ion-item>
        <!-- <ion-item class="logitem1" *ngIf="!addvehicleForm.controls.first_name.valid && (addvehicleForm.controls.first_name.dirty || submitAttempt)">
            <p>user required!</p>
        </ion-item> -->

        <ion-item>
            <ion-label>Select Vehicle Type*</ion-label>
            <ion-select formControlName="brand" style="min-width: 50%;">
                <ion-option *ngFor="let veh of allVehicle" [value]="veh.brand" (ionSelect)="vehicleTypeselectData(veh)">{{veh.brand}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!addvehicleForm.controls.brand.valid && (addvehicleForm.controls.brand.dirty || submitAttempt)">
            <p>vehicle type is required required!</p>
        </ion-item>
    </form>
</ion-content>

<ion-footer class="footSty">
    <ion-toolbar>
        <ion-row no-padding>
            <ion-col width-50 style="border-right: 1px solid white; text-align: center; padding: 0px !important">
                <button ion-button style="padding: 0px;" clear color="light" (click)="openAddGroupModal()">ADD NEW GROUP</button>
            </ion-col>
            <ion-col width-50 style="text-align: center; padding: 0px !important">
                <button ion-button style="padding: 0px;" clear color="light" (click)="adddevices()">ADD VEHICLE</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>