<ion-content no-padding>
  <ion-grid style="height:45%;background:#8eda4a;">
    <ion-card style="margin: 0px;width: 28%;border-radius: 15px;padding-top: 46ppx;position: fixed;margin-top: 30px;margin-left: 37%;margin-bottom: 20px;">
      <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
    </ion-card>
    <h5 style="margin: 10px 0px 0px 18px;;color: white;font-weight: 400;padding-top: 41%;text-align: center;font-size: 1.8rem;">Ride Closed</h5>
  </ion-grid>
  <ion-card style="width: 80%;height: 30%;margin-top: -54px;margin-left: 12%;border-radius: 8%;">
    <p style="text-align: left;font-size: 15px;color: #767373;margin: 12% 0% 0% 15%;">Paid Successfully </p>
    <h4 style="text-align: center;color: #8eda4a;font-family: fantasy;font-size: 36px;margin-top: 6px;letter-spacing: 3px;">
      <i class="fa fa-rupee"></i> 100.00
      <span>
        <ion-icon name="md-checkmark-circle"></ion-icon>
      </span>
    </h4>
    <p style="margin: 8% 0% 0% 14%;color: #b1adad;">{{paymentTime | date:'medium'}}</p>
  </ion-card>
  <ion-grid no-padding style="text-align: center;">
    <p style="color: #8f8e8e;font-size: 16px;">Need Help?</p>
    <h3 style="color: #8eda4a;font-family: fantasy;margin: 0%;font-size: 45px;letter-spacing: 4px;">Thank</h3>
    <h3 style="color: #70ac3a;font-family: fantasy;margin: 0%;font-size: 61px;letter-spacing: 4px;">You</h3>
  </ion-grid>
</ion-content>
<ion-footer style="width: 90%;
height: 100px;
background: #ffffff;
margin-left: 5%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
box-shadow: 0px 1px 15px 3px #cfcfcf;">
  <ion-row style="margin-top: 22px;width: 90%;margin-left: 5%;">
    <button ion-button full style="margin: 0%;height:50px;background:#87c23f;font-size: 14px;border-radius: 6px;" (click)="feedback()">Feedback</button>
  </ion-row>
</ion-footer>