page-stoppages-repo {
    .col {
        padding: 0px;
    }

    .item-md ion-thumbnail img {
        width: 70px;
        height: 70px;
    }
    .item-md ion-thumbnail[item-start] {
        margin: 0px 0px 0px 0;
    }
    ion-icon {
        display: inline-block;
        font-size: 0.9em;
    }

    .label-md{
        font-size: 12px;
    }
    .masters {
        background-color: #f2f2f2;
        top: 6%;
        }
        .masters1{
        background-color: #f2f2f2;
        top: 0%;
        }
}
